#attendance .search {
    width: 80%;
    margin: 0 auto;
    padding: 24px 0;
}
.flat-table {
    display: block;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 115%;
    overflow: auto;
    width: auto;
  }
  .flat-table th {
    background-color: #5cadff;
    color: white;
    font-weight: normal;
    padding: 20px 10px;
    text-align: center;
  }
  .flat-table td {
    background-color: #eeeeee;
    color: #6f6f6f;
    padding: 0px 15px;
  }
  .scheduling,.leave {
      padding: 0 15px;
      line-height: 60px;
      height: 60px;
  }
  .scheduling {
      border-bottom: 1px solid #999;
  }
  .flat-table .scheduling_info {
      padding: 0px 0;
  }
  .class_info {
    height: 60px;
    padding: 0px 10px;
    border-bottom: 1px solid #999;
  }
  .formTitle {
      height: 40px;
      line-height: 40px;
      border-bottom: 1px solid #ccc;
  }
  .formTitle_l {
      float: left;
      line-height: 40px;
      font-size: 18px;
  }
  .formTitle_r {
      float: right;
      line-height: 40px;
  }
  .formLists {
      margin-top: 40px;
      border: 1px solid #ccc;
      line-height: 40px;
  }
  .infoName {
      background: #eee;
  }
  .steps {
      text-align: left;
      width: 70%;
      margin: 0 auto;
      margin-top: 30px;
  }
  .overtimeEmp {
      margin-top: 30px;
      line-height: 40px;
      text-align: left;
  }
  .addEmp {
    line-height: 40px;
    border: 1px solid #ccc;
    text-align: center;
    margin-bottom: 20px;
  }
  .overtimeEmpInfo {
      margin-top: 20px;
      line-height: 40px;
      border: 1px solid #ccc;
      text-align: center;
  }